@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css");

body {
    font-family: Arial, sans-serif;
   
}

/* --- Buttons --- */
.btn-primary-custom {
    background-color: #7674d7 !important;
    border-color: #7674d7 !important;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    font-weight: 500;
    color: white !important;
}

.btn-primary-custom:hover {
    background-color: #5d5caa !important;
    border-color: #5d5caa !important;
    transform: scale(1.03);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

/* --- Nav Link Hover --- */
.nav-link-custom {
    transition: color 0.25s ease, transform 0.25s ease;
}

.nav-link-custom:hover {
    color: #7674d7 !important;
    transform: translateY(-2px);
}
